.App {
  text-align: center;
}
 
.App-image {
  width: 60vmin;
  pointer-events: none;
}
 
.App-main {
  background-color: #202538;;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(7px + 2vmin);
  color: #F3F6FD;
  font-family: 'Josefin Sans';
}
 
.text-box {
  background: #fff;
  color: #333;
  border-radius: 5px;
  text-align: center;
}

.float-container {
  text-align: center;
  width: 100%;
}

.float-child {
  display: inline-block;
  vertical-align: top;
  width: 40%;
  padding: 20px;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  margin: 10px;
  cursor: pointer;
  background-color: #7C87F7;
}
input[type="file"] {
  display: none;
}

button{
  display: none;
}

.text {
  color: #BDC8F5;
  font-family: 'Josefin Sans';
}

.input {
  font-family: inherit;
}